body {
font-family: 'Lato', sans-serif;
margin: 0;
box-sizing: border-box;
overflow-x: hidden;
}


.navbar{
margin-bottom: 0;
border-radius: 0;
font-size: 1.3em;
background: transparent;
min-height: 90px;
padding-top: 20px;
color: white;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
}
#home{
  padding: 0;
  
  background-color: #000000;
    background-blend-mode: multiply;
}
.carousel-inner img {
width: 100%; /* Set width to 100% */
margin: auto;
height: 100vh!important;
}
/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-inner img {
    height: 60vh!important;
  }
.nav-small a{
color: #fff;
}
.carousel-caption-heading {
font-size: 35px!important;
}
.carousel-caption{
top:28%!important;
}
.navbar-collapse{
background: #fff;
}
}
.nav-small{
background: rgba(255,255,255,1);
min-height: 0;
max-height: 75px;
padding-top: 5px;
box-shadow: -3px -1px 3px 0px black;

}
section{
padding-bottom: 50px;
}
section:focus{
outline: none;
}
.navbar-nav>.active>a{
border-bottom:3px solid #101e35;
}
.sub-head-speakers {
    color: #101e35;
}

.social{
margin: 10px;
padding: 10px;
width: 40px;
height: 40px;
}
.social:hover{
transform: scale(1.1);
}

.vertical-align{
padding-top: 20px;
}


.section-heading{
margin-bottom: 30px;
padding-bottom: 20px;
letter-spacing: 2px;
font-size: 40px;
padding-top: 20px;
text-transform: uppercase;
}
.navbar-brand{
padding: 0;
padding-left: 20px;
}
.a1{
font-size: 40px;
color: white;
text-decoration: none;
}

.a1:hover{
    text-decoration: none;
}
.a2{
font-size: 30px;
color: white;
text-decoration: none;
}

.nav a{
color: white;
}
.nav>li>a:focus, .nav>li>a:hover{
color: #101e35;
background-color:transparent;
}
.nav-small a{
color: black;
}
.carousel-caption{
top: 30%;
text-shadow: 0px 0px 1px black;
}
.carousel-caption-heading{
font-size: 70px;

margin-top: 0;
}
.carousel-caption-text{
font-size: 40px;
}
.navbar-toggle .icon-bar{
background: white;
}
@media (max-width: 600px) {
  .navbar-toggle .icon-bar {
  background: black;
}
  }
p{
font-size: 15px;
}
.row{
margin-left: 0;
}
.logo-image{
max-height: 75px;
max-width: 75px;
margin-left: 10px;
}
.logo-image:hover{
    text-decoration: none !important;
    color: transparent;
}
.logo-image2{
max-height: 55px;
max-width: 55px;
margin-top: 0;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #f49842;
    opacity: .4;
}
#about {

}
#news {

}

.news_card {
  background-image: url(../images/bg1.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:300px;
  color: #fff;
}
.news_card:hover {
  background-color: rgba(244,152,66,0.6);
  transition: all 0.45s ease;
}
.news_card:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: inherit;
  content: ' ';
}
#quotes {
  background-color: #f7f7f7;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quote {
  width: 60%;
  margin: auto;
  padding-top: 20px;
  color: #6c757d;
  font-size: 20px;
  line-height: 3rem;
}
#last {
  padding-bottom: 0;
}
.prayer {
  background-image: url(../images/prayer.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
}
.prayer:hover {
  background-color: rgba(0,0,0,0.4);
  transition: all 0.45s ease;
}
.prayer:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: inherit;
  content: ' ';
}
.btn-default {
  background-color: transparent;
  color: #fff;
}
.btn-default:hover {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  transition: all 0.25s ease;
}
#fh5co-footer {
  padding-top: 7em;
  clear: both;
}
#fh5co-footer {
  background: #efefef;
}
#fh5co-footer .fh5co-footer-links {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  #fh5co-footer .fh5co-footer-links {
    margin-bottom: 30px;
  }
}
#fh5co-footer .fh5co-footer-links li {
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px dotted black;
}
#fh5co-footer .fh5co-footer-links li a {
  color: #000;
  text-decoration: none;
}
#fh5co-footer .fh5co-footer-links li a:hover {
  text-decoration: underline;
}
#fh5co-footer .fh5co-widget {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #fh5co-footer .fh5co-widget {
    text-align: left;
  }
}
#fh5co-footer .fh5co-widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#fh5co-footer .copyright .block {
  display: block;
}
.about_image {
  height: 400px;
}
@media(max-width: 768px) {
  .about_image {
    width: 90vw;
  }
}
.btn-link:active , .btn-link:focus , .btn-link:target{
  outline: 0;
  border: none;
}
