body {
font-family: 'Lato', sans-serif;
margin: 0;
box-sizing: border-box;
overflow-x: hidden;
}


.navbar{
margin-bottom: 0;
border-radius: 0;
font-size: 1.3em;
background: transparent;
min-height: 90px;
padding-top: 20px;
color: white;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
}
#home{
  padding: 0;
  
  background-color: #000000;
    background-blend-mode: multiply;
}
.carousel-inner img {
width: 100%; /* Set width to 100% */
margin: auto;
height: 100vh!important;
}
/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-inner img {
    height: 60vh!important;
  }
.nav-small a{
color: #fff;
}

.carousel-caption-heading {
font-size: 35px!important;
}
.carousel-caption{
top:28%!important;
}
.navbar-collapse{
background: rgba(244,152,66,0.6);
}
}
.nav-small{
background: rgba(255,255,255,1);
min-height: 0;
max-height: 75px;
padding-top: 5px;
box-shadow: -3px -1px 3px 0px black;

}
/*section{
padding-bottom: 50px;
}*/
section:focus{
outline: none;
}
.navbar-nav>.active>a{
border-bottom:3px solid rgba(244,152,66,0.6);
}
.sub-head-speakers {
    color: #101e35;
}

.social{
margin: 10px;
padding: 10px;
width: 40px;
height: 40px;
}
.social:hover{
transform: scale(1.1);
}

.navbar-brand{
padding: 0;
padding-left: 20px;
}
.a1{
font-size: 40px;
color: white;
text-decoration: none;
}

.a1:hover{
    text-decoration: none;
}
.a2{
font-size: 30px;
color: white;
text-decoration: none;
}

.nav a{
color: white;
}
.nav>li>a:focus, .nav>li>a:hover{
color:rgb(244,152,66)!important;
background-color:transparent;
}
.nav>li>a:target, .nav>li>a:active{
color:rgb(244,152,66);
border-bottom: 2px solid rgb(244,152,66);
}
.nav-small a{
color: black;
}
.carousel-caption{
top: 30%;
text-shadow: 0px 0px 1px black;
}
.carousel-caption-heading{
font-size: 70px;

margin-top: 0;
}
.carousel-caption-text{
font-size: 40px;
}
.navbar-toggle .icon-bar{
background: white;
}
@media (max-width: 600px) {
  .navbar-toggle .icon-bar {
  background: black;
}
  }
p{
font-size: 15px;
}
.row{
margin-left: 0;
}
.logo-image{
max-height: 75px;
max-width: 75px;
margin-left: 10px;
}
.logo-image:hover{
    text-decoration: none !important;
    color: transparent;
}
.logo-image2{
max-height: 55px;
max-width: 55px;
margin-top: 0;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #222;
    opacity: .4;
}
#about {

}
#news {

}

.news_card {
  background-image: url(../images/bg1.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:300px;
  color: #fff;
}
.news_card:hover {
  background-color: rgba(244,152,66,0.6);
  transition: all 0.45s ease;
}
.news_card:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: inherit;
  content: ' ';
}
#quotes {
  background-color: #f7f7f7;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quote {
  width: 60%;
  margin: auto;
  padding-top: 20px;
  color: #6c757d;
  font-size: 20px;
  line-height: 3rem;
}
#last {
  padding-bottom: 0;
}
.prayer {
  background-image: url(../images/prayer.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
}
.prayer:hover {
  background-color: rgba(0,0,0,0.4);
  transition: all 0.45s ease;
}
.prayer:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: inherit;
  content: ' ';
}
.btn-default {
  background-color: transparent;
  color: #fff;
}
.btn-default:hover {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  transition: all 0.25s ease;
}
#fh5co-footer {
  padding-top: 5em;
  clear: both;
}
#fh5co-footer {
  background:#494a4c;
  color: #fff;
}
#fh5co-footer .fh5co-footer-links {
  padding: 20px 0 0 0 ;
  margin: 0;
}
@media screen and (max-width: 768px) {
  #fh5co-footer .fh5co-footer-links {
    margin-bottom: 30px;
  }
}
#fh5co-footer .fh5co-footer-links li {
  padding: 5px 0 0 0 ;
  margin: 0;
  list-style: none;
}
#fh5co-footer .fh5co-footer-links li a {
  color: #fff;
  text-decoration: none;
  padding-top: 20px;
}
#fh5co-footer .fh5co-footer-links li a:hover {
  text-decoration: underline;
}
#fh5co-footer .fh5co-widget {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #fh5co-footer .fh5co-widget {
    text-align: left;
  }
}
#fh5co-footer .fh5co-widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#fh5co-footer .copyright .block {
  display: block;
}
.about_image {
  height: 400px;
}
@media(max-width: 768px) {
  .about_image {
    width: 90vw;
  }
}
.btn-link:active , .btn-link:focus , .btn-link:target{
  outline: 0;
  border: none;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
}
.navbar-nav .open .dropdown-menu  {
  border-radius: 5px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  border-bottom: 2px solid  rgb(244,152,66);
}
 section#contact {
    color: #fff;
    background-image: url('../images/slider1.jpg');
    background-blend-mode: multiply;
    background-color: #222;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}
section#contact .section-heading {
  color: black;
}
section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 18px;
}
section#contact .form-group input.form-control {

}
.form-control {
  background:#fff;
  border-radius: 0;
}
.form-control:hover {
  border: 3px solid rgb(244,152,66);
}
section#contact .form-group textarea.form-control {
    height: 236px;
}
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
.gellary_bg_none img{
  width: 100%;
  height: 250px;
}
section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact .text-warning {
    color: #e74c3c;
}

.about_our_company{
    text-align: center;
}
.about_our_company h1{
    font-size: 25px;
}
.titleline-icon {
    position: relative;
    max-width: 100px;
    border-top: 4px double #F99700;
    margin: 20px auto 20px;
}
.titleline-icon:after {
    position: absolute;
    top: -11px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'FontAwesome';
    content: "\f141";
    font-size: 20px;
    line-height: 1;
    color: #F99700;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    background: #ffffff;
}

.btn-warning {
  background-color: rgb(244,152,66);
  outline: 0;
  border:none;
}
.btn-warning:hover , .btn-warning:focus , .btn-target:hover , .btn-active:hover {
  background-color: rgb(244,152,66);
  outline: 0;
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.shrikhand {
  font-family: 'Shrikhand', cursive;
}
